backend/.env

# Secrets
*.env
backend/.env

# DB files
*.db
*.sqlite
*.sqlite3

# keep the folder but ignore its contents
backend/instance/*
!backend/instance/.gitkeep

# Python junk
__pycache__/
*.pyc
